# Python environment & cache
.venv/
__pycache__/
*.pyc

# MLflow tracking
mlruns/
mlflow.db
.trash/

!/data/*.dvc
!/data/.gitignore

# Saved model weights
*.pt
*.pth
*.pkl
*.h5
*.joblib

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/